body {
    background-color: #FBEFF8;
    font-family: sans-serif;
    margin-left: 300px;
    margin-right: 300px;
  }
  
  p {
    color: #2D1E2F;
    text-align: justify;
    font-family: 'Lato', sans-serif;
  }
  
  h1 {
    color: #d56aa0;
    -webkit-text-stroke: 1px #F7B32B;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  h2 {
    color: #A9E5BB; 
    font-family: 'Montserrat', sans-serif;
  }
  
  h3 {
    color: #A9E5BB; 
    font-family: 'Montserrat', sans-serif;
  }
  
  strong {
    color: #d56aa0;
  }
  
  strong:hover {
    color: #F7B32B;
    transition: background-color .1s;
  }

  .top {
    background-color: #FCF6B1;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    border: 1px solid;
    border-color: #F7B32B;
  }
  
  .round-corner {
      border-radius: 25px;
  }
  
  .navigator_table {
    
    color: #d56aa0;
    background-color: #A9E5BB;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    border: 1px solid;
    border-radius: 5px;
    border-color: #d56aa0;
    padding: 4px;
    opacity: 50%;
    position: fixed;
    top: 45px;
    left: 10px;
  }
  
  .navigator_table:hover {
    opacity: 100%;
  }
  
  .languages_table {
    color: #2D1E2F;
    border: 1px solid;
    border-radius: 5px;
    border-color: #d56aa0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-image: url("https://media.istockphoto.com/vectors/books-seamless-pattern-vector-id470721440?s=612x612");
  }
  
  .languages_table thead {
   color: #A9E5BB;
   font-style: strong;
   text-align: center;
   font-family: 'Lato', sans-serif;
  }
  
  a:hover {
    color: #F7B32B;
  }
  
  a {
    color: #d56aa0;
  }
  
  .bottom {
    font-size: 10px;
    color: #d56aa0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0 auto;
    opacity: 50%;
    background-color: #FBEFF8;
    font-family: 'Lato', sans-serif;
  }

  .bottom:hover {
    opacity: 100%;
  }

  a[href*='bottom'] {
    font-size: 10px;
    color: #A9E5BB;
    font-family: 'Lato', sans-serif;
  } 

  
  a[href*='index'] {
    font-size: 10px;
    color: #A9E5BB;
    font-family: 'Lato', sans-serif;
  } 

  .my_pic {
    text-align: center;
  }

  .circle_pic {
    border-radius: 50%;
  }
  
  .fixed {
    position: fixed;
    top: 0px;
    left: 0px;
  }
  
  .imgblock {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: inline-block;
    margin: 12px;
    position: relative;
    border-radius: 20px;
  }
  
  .imgblockall {
    text-align: center;
    border: 2px solid;
    border-color: #d56aa0;
    border-radius: 30px;
    padding: 20px 20px;
    position: absolute;
    width: 700px;
    left: 50%; /* left and transform are used a a container with inblock elements cannot be centered using margin: 0 auto */
    transform: translateX(-50%);
    background-color: #A9E5BB;
  }
  
  .imgblockall:hover {
    background-color: #d56aa0;
    transition: background-color .5s;
  }
  
  #revealbutton {
    font-weight: bold;
    height: auto;
    width: auto;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    color: #d56aa0;
    background-color: #FCF6B1;
    border: 1px solid;
    border-color: #F7B32B;
    font-family: 'Montserrat', sans-serif;
    font-style: strong;
    box-shadow: 0px 2px #d56aa0;
  }

  #revealbutton:hover {
    color: #F7B32B;
  }

  #revealbutton:active {
    box-shadow: 0px 0px;
  }

  .centered {
    margin: 0 auto;
    text-align: center;
  }

  /* PALETTE:
  
  #d56aa0 pink
  #FBEFF8 lightest pink
  #FCF6B1 yellowish
  #A9E5BB blue
  #F7B32B yellorange
  #2D1E2F dark purple

  FONTS: 
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
